.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.h-100 {
    height: 100%;
}

.h-70p {
    height: 70px;
}

.wrap {
    flex-wrap: wrap;
}

.flexDColumn {
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.justifyAround {
    justify-content: space-around;
}

.justifyBetween {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.gap {
    gap: 10px;
}

.font-24 {
    font-size: 24px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.wg-400 {
    font-weight: 400;
}

.wg-500 {
    font-weight: 500;
}

.wg-600 {
    font-weight: 600;
}

.shadow {
    box-shadow: 1px 1px 3px;
}

.mTop-40p {
    margin-top: 40px;
}

.mTop-50p {
    margin-top: 50px;
}

.pointer {
    cursor: pointer;
}